:root {
  --color1: #364f6b;
  --color2: #3fc1c9;
  --color3: #f5f5f5;
  --color4: #fc5185;
  --shadow1: 0 2px 2px rgb(0 0 0 / 0.5);
  --shadow2: 0 12px 24px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  min-height: 2000px;
}
/* HERO */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/bg1.jpg);
  /* Foto oleh Olivia Bauso di Unsplash */
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(900%) sepia(35%);
}

.hero {
  /* background-color: var(--color1); */
  min-height: 100vh;
  position: relative;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 4.5rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero h4,
.hero h1,
.hero p {
  text-shadow: var(--shadow1);
}

.hero a {
  background-color: var(--color3);
  color: var(--color4);
  box-shadow: var(--shadow2);
}

.hero a:hover {
  background-color: var(--color4);
  color: var(--color3);
}
/* HERO END */

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown-circle {
    gap: 1.2rem;
  }
  .simply-countdown-circle > .simply-section {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown-circle {
    gap: 0.9rem;
  }
  .simply-countdown-circle > .simply-section {
    padding: 35px;
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .simply-countdown-circle {
    gap: 0.7rem;
  }
  .simply-countdown-circle > .simply-section {
    padding: 25px;
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 50%;
  }
  .simply-countdown-circle {
    gap: 0.4rem;
  }
  .simply-countdown-circle > .simply-section {
    padding: 25px;
    width: 60px;
    height: 60px;
  }
}
/* RESPONSIVE BREAKPOINTS END */
