:root {
  --color1: #364f6b;
  --color2: #3fc1c9;
  --color3: #f5f5f5;
  --color4: #fc5185;
  --color5: #7c838c;
  --shadow1: 0 2px 2px rgb(0 0 0 / 0.5);
  --shadow2: 0 12px 24px rgba(0, 0, 0, 0.2);
  --font-poppons: "Poppins", sans-serif;
  --font-caveat: "Caveat Brush", cursive;
}

body {
  font-family: var(--font-poppons);
  font-size: 1.2rem;
}

/* UNIVERSAL */
.home h2,
.couple h2,
.gallery h2,
.information h2,
.rsvp h2,
.gift h2 {
  font-family: var(--font-caveat);
  font-weight: bold;
  font-size: 4.2rem;
  color: var(--color4);
}

.couple,
.gallery,
.rsvp,
.gift {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.couple p,
.gallery p,
.rsvp p,
.gift p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 1rem;
}

.couple span, .gallery span, .gift span {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* UNIVERSAL END */

/* HERO */
.hero {
  /* background-color: var(--color1); */
  min-height: 100vh;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/bg1.jpg);
  /* Foto oleh Olivia Bauso di Unsplash */
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(90%) sepia(35%);
}

.hero h4 {
  font-size: 2rem;
}

.hero h1 {
  font-family: var(--font-caveat);
  font-size: 5rem;
}

.hero p {
  font-size: 1.8rem;
}

.hero h4,
.hero h1,
.hero p {
  text-shadow: var(--shadow1);
}

.hero a {
  background-color: var(--color3);
  color: var(--color4);
  box-shadow: var(--shadow2);
}

.hero a:hover {
  background-color: var(--color4);
  color: var(--color3);
}

/* HERO END */

/* NAVBAR */
.mynavbar {
  background-color: rgb(255 255 255 / 0.5) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: var(--font-caveat);
  font-size: 2.1rem;
  color: var(--color1);
}

.mynavbar .nav-link {
  font-size: 1.2rem;
}

/* NAVBAR END */

/* HOME */
.home {
  position: relative;
  min-height: 100vh;
  /* height: 100vh; */
  /* margin-top: -4.5rem; */
  /* padding-top: 10rem; */
  /* padding-bottom: 4rem; */
  /* overflow: hidden; */
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/bg-home.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -11;
}

.home h3 {
  font-size: 1.5rem;
  color: var(--color1);
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.3rem;
  color: var(--color1);
}

.home .couple-home {
  margin-top: 5rem;
}

.home .couple-home .col-4 img {
  box-shadow: var(--shadow2);
  width: 100%;
}

.home .couple-home h3 {
  font-family: var(--font-caveat);
  font-size: 3rem;
  color: var(--color4);
}

.home .couple-home .heart {
  width: 90px;
  height: 90px;
  /* background-color: yellow; */
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 35px);
}

.home .couple-home .heart img {
  width: 80px;
}
/* HOME END */

/* COUPLE */
.timeline {
  position: relative;
  list-style: none;
  padding: 1.5rem 0;
  margin: 1rem;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--color1);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.timeline li {
  position: relative;
  margin-bottom: 3rem;
}

.timeline li:before,
.timeline li:after {
  content: "";
  display: table;
}

.timeline li:after {
  clear: both;
}

.timeline li .timeline-image {
  position: absolute;
  background-color: var(--color1);
  width: 160px;
  height: 160px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 2px solid var(--color1);
  /* background-image: inline-css; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  padding: 1.5rem;
  border: 1px solid var(--color1);
  border-radius: 15px;
  position: relative;
  background-color: var(--color3);
}

.timeline li .timeline-panel::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--color1);
  border-right: 0px solid var(--color1);
  border-bottom: 15px solid transparent;
  top: 50px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid var(--color3);
  border-right: 0px solid var(--color3);
  border-bottom: 14px solid transparent;
  top: 50px;
  right: -13px;
}

.timeline li:nth-child(even) .timeline-panel {
  float: right;
}

.timeline li:nth-child(even) .timeline-panel::before {
  border-left: 0px solid var(--color1);
  border-right: 15px solid var(--color1);
  left: -15px;
  right: auto;
}

.timeline li:nth-child(even) .timeline-panel::after {
  border-left: 0px solid var(--color3);
  border-right: 14px solid var(--color3);
  left: -13px;
  right: auto;
}
/* COUPLE END */

/* GALLERY */
.gallery {
  position: relative;
  min-height: 100vh;
  background-color: #f5f5f5;
  /* z-index: 1; */
  overflow: hidden;
}

.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/bg-gallery.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  filter: brightness(0.9) blur(1px);
  opacity: 0.5;
  z-index: 0;
}

.gallery > * {
  position: relative;
  z-index: 2; /* supaya konten aman dan bisa diklik */
}
/* GALLERY END */

/* INFORMATION */
.information {
  background-color: var(--color1);
  color: var(--color3);
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.information .location {
  font-size: 1.5rem;
}

.information .description {
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 1rem;
}

.information .card {
  background-color: rgb(255 255 255 / 0.4);
  color: var(--color1);
  border: 1px solid rgb(255 255 255 / 0.3);
  transition: all 0.3s ease-in-out;
}

.information .card:hover {
  background-color: var(--color3);
  color: var(--color4);
  border: 1px solid var(--color4);
}

.information .card .card-header {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(255 255 255 / 0.3);
}

.information .card .card-body {
  font-size: 1.2rem;
}

.information .card .card-footer {
  font-size: 1rem;
  border-top: 1px solid rgb(255 255 255 / 0.3);
}
/* INFORMATION END */

/* RSVP */
.rsvp .container {
  background-color: rgb(255 255 255 / 0.6);
  padding: 0rem 6rem 8rem 6rem;
  box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.3);
}

.rsvp button {
  border: 2px solid black;
}

.rsvp button:hover {
  color: var(--color4);
  background-color: var(--color3);
  border: 2px solid var(--color4);
}
/* RSVP END */

/* GIFT */
.gift {
  position: relative;
}

.gift::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/bg-gift.jpg);
  /* Foto oleh Olivia Bauso di Unsplash */
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(70%);
}
/* GIFT END */

/* FOOTER */
footer {
  color: var(--color5);
}

footer p {
  font-size: 1rem;
}

footer p i {
  color: var(--color4);
}

footer a.socmed {
  border: 1px solid #ababab;
  transition: all 0.3s ease-in-out;
}

footer a.socmed:hover {
  border: 1px solid var(--color4);
}

footer a.socmed i {
  color: var(--color5);
  transition: all 0.3s ease-in-out;
}

footer a.socmed:hover i {
  color: var(--color4);
}
/* FOOTER END */

/* SVG */
.information-waves {
  margin-bottom: calc(-100px + -2rem);
  position: relative;
}
/* SVG END */

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}
/* EXTRA LARGE */
@media screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
  /* HOME */
  .home .couple-home .heart {
    transform: translate(-50%, 15px);
  }

  .home .couple-home .heart img {
    width: 60px;
  }

  /* COUPLE */
  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }

  .timeline li .timeline-panel {
    width: 38%;
  }
}

/* LARGE */
@media screen and (max-width: 992px) {
  html {
    font-size: 75%;
  }

  /* HERO */
  .simply-countdown-circle {
    gap: 1.2rem;
  }

  .simply-countdown-circle > .simply-section {
    padding: 40px;
  }

  /* HOME */
  .home .couple-home .heart {
    display: none;
  }

  /* COUPLE */
  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: -5px;
    margin-left: 65px;
    top: 12.5px;
  }

  .timeline li .timeline-panel {
    top: 5px;
    width: calc(100% - 175px);
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left: 0px solid transparent;
    border-right: 15px solid var(--color1);
    right: auto;
    left: -15px;
  }

  .timeline li .timeline-panel::after {
    border-left: 0px solid transparent;
    border-right: 14px solid var(--color3);
    right: auto;
    left: -13px;
  }
  .started-forever {
    justify-content: flex-start !important;
  }

  .started-forever:nth-of-type(1) {
    margin-left: 40px;
  }

  .started-forever:nth-of-type(2) {
    margin-left: 45px;
  }
}

/* MEDIUM */
@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  /* HERO */
  .simply-countdown-circle {
    gap: 0.9rem;
  }

  .simply-countdown-circle > .simply-section {
    padding: 35px;
    width: 90px;
    height: 90px;
  }

  /* NAVBAR */
  .mynavbar .nav-link {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  nav.sticky-top {
    overflow: hidden;
  }

  /* COUPLE */
  .timeline li .timeline-image {
    width: 110px;
    height: 110px;
  }
}

/* SMALL */
@media screen and (max-width: 576px) {
  html {
    font-size: 60%;
  }

  /* HERO */
  .simply-countdown-circle {
    gap: 0.7rem;
  }

  .simply-countdown-circle > .simply-section {
    padding: 25px;
    width: 70px;
    height: 70px;
  }

  /* NAVBAR */
  .mynavbar .nav-link {
    font-size: 2.6rem;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  /* COUPLE */
  .timeline li .timeline-image {
    width: 90px;
    height: 90px;
  }

  .timeline li .timeline-panel {
    width: 60%;
    transform: translate(-20px, 0);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}

/* EXTRA SMALL CUSTOM */
@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }

  /* HERO */
  .simply-countdown-circle {
    gap: 0.4rem;
  }

  .simply-countdown-circle > .simply-section {
    padding: 25px;
    width: 60px;
    height: 60px;
  }

  .timeline li .timeline-image {
    width: 75px;
    height: 75px;
  }

  .timeline li .timeline-panel {
    width: calc(55% - 20px);
  }
}
/* RESPONSIVE BREAKPOINTS END */
