:root {
  --color1: #364F6B;
  --color2: #FC5185;
  --shadow1: 0, 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  min-height: 2000px;
}
/* HERO */
.hero {
  background-color: var(--color1);
  min-height: 100vh;
}

.hero h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 6rem;
}
/* HERO END */